*{margin:0;
padding:0;
box-sizing:border-box;
 }
.container{
	width:90%;
	margin:0 auto;
}
.row{display:flex;
	
}
.col-1{width:50%;
        margin:2% 0;
      padding:0 15px;
	}
.col-2{width:50%;
       margin:2% 0;
      padding:0 15px;
	}
	.text-1{
		padding:1% 0;
	}.text{
		padding:2% 0;
	}
	#icon{
		font-size:50px;
		padding-left:%;
	padding-top:15%;
	}
	.flex{
		display:flex;
		padding:5%
	}
	.text-3{
		padding-left:2%
	}
	.1{}